h1{
	font-family: Arial;
	color: Blue;
}

.header {
  padding: 60px;
  overflow: hidden;
  text-align: left;
  background: url('banner.jpg');
  color: white;
  font-size: 40px;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a.nimi {
  font-size: 40px;
  word-spacing: 5px;
  text-shadow: 1px 2px black;
  font-weight: bold;
  font-family: Lucida Console;
}

.header-right {
	float: right;
}

.mapid {
	height: 180px;
}
body {

    background-color: #EFF5FB;
}
.footer {
	font-family: Arial;
	color: Gray;
	font-size: 11px;
	margin-top: 10px;
	text-align: center;
}

h2.introduction{
	text-align: center;
	
}

p.introduction{
	text-align: center;
	margin-left: 35%;
	margin-right: 35%;
	
}
.header-right {
	float: right;
}

.mapid {
	height: 180px;
}
body {

    background-color: #EFF5FB;
}



.meie{
	font-size: 50px;
	text-align: center;	
}

.kristofer{
	font-size: 30px;
	margin-left: 60px;	
}

.kristofer ul{
	font-size: 20px;
	color: gray;
	float: right;
	text-align: left;
	margin-right:800px;
	
}

.karl{
	font-size: 30px;
	text-align: right;
	margin-right: 60px;	
}

.karl ul{
	font-size: 20px;
	color: gray;
	float: left;
	text-align: left;
	margin-left:350px;
}
.liikmed h2{
	text-align: center;
	font-size: 50px;
	
}

.pealkiri{
	font-size: 25px;
	text-align: left;
}

.pealkiri2{
	font-size: 25px;
	text-align: center;
}
.center{
	margin:auto;
	width: 50%;
}